@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  /* position: relative; */
}

header {
  width: 100%;
  background-color: #ece6d5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  max-height: 164px;
}

h1 {
  text-transform: uppercase;
  font-size: 42px;
  color: #483d56;
}

nav {
  margin-top: 32px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease, letter-spacing 0.3s ease;
  position: relative;
}

nav a:hover {
  color: #6f6192;
  letter-spacing: 1.2px;
}

.cta-button a {
  background-color: #fff;
  color: #6f6192;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #6f6192;
  transition: ease-in-out 0.5s;
}

.cta-button a:hover {
  background-color: #6f6192;
  color: #fff;
}

footer {
  width: 100%;
  background-color: #ece6d5;
  padding: 10px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

footer img {
  width: 128px;
  margin-right: 10px;
}

.footer_text {
  color: #999;
}

.footer-icons {
  display: flex;
}

.footer-icons a {
  margin-right: 10px;
  color: #6f6192;
  font-size: 32px;
  transition: color 0.3s, transform 0.3s;
}

.footer-icons a:hover {
  color: #483d56;
  transform: rotate(-24deg);
}

main {
  padding: 20px;
  max-width: 1500px;
  min-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1; /* This will push the footer to the bottom */
  max-height: 400px;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 1500px) {
  main {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }
}

#bid,
#sold {
  display: flex;
  justify-content: space-between;
}

.card,
.card_2 {
  flex: 1;
  padding: 20px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #d3cfe5;
  gap: 12px;
  border: 1px solid #483d56;
}

.p_card_2 {
  text-transform: uppercase;
  font-size: 18px;
}

.note {
  font-style: italic;
  opacity: 0.6;
}

#profit {
  display: flex;
  position: relative;
}

.card_profit {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  color: #333;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.card_profit.positive {
  background-color: #8bc34a;
  color: #fff;
}

.card_profit.negative {
  background-color: #ef5350;
  color: #fff;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.card input[type="text"]::placeholder {
  color: #999;
}

.ebay_final {
  font-size: 40px;
}

.button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.button-wrapper button {
  width: 100px;
  height: 49px;
  border: 1px solid #303030;
  background-color: #6f6192;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
  background-color: #483d56;
}

.saved_list_title {
  text-align: center;
  margin: 64px;
}

.saved {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
  display: grid; /* Change to grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust according to your needs */
  gap: 16px;
  justify-content: center;
  position: relative;
}

.saved_title {
  margin-bottom: 20px;
}

.saved_1 {
  /* Remove width and margin */
  padding: 20px;
  border: 1px solid #483d56;
  background-color: #ece6d5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.saved_1 input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6f6192;
  border-radius: 5px;
  box-sizing: border-box;
}

.saved_1 .table {
  display: flex;
  flex-direction: column;
}

.saved_1 .table-row {
  display: flex;
  gap: 2px;
  border-bottom: 1px solid #6f6192; /* Add border bottom to each row */
}

.saved_1 .table-cell {
  flex: 1;
  padding: 10px;
}

.saved_1 .table-cell:nth-child(1) {
  color: #6f6192;
  font-weight: bold;
  text-align: right;
}

.saved_1 .table-cell:nth-child(2) {
  color: #483d56;
  font-style: italic;
  border-left: 1px solid #6f6192; /* Add border left to each cell */
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.unlock {
  position: absolute;
  right: -10px;
  top: -22px;
  font-size: 24px;
  color: #fff;
  background-color: #6f6192;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.unlock:hover {
  background-color: #303030;
}

.lockedinput {
  background-color: #483d56;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
}

.locked {
  background-color: #d3cfe5;
}

.exportcsv {
  padding: 20px;
  background-color: #483d56;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ededed;
}

.exportcsv:hover {
  cursor: pointer;
}
